.places {
  margin: 0;
  box-sizing: border-box;
  grid-area: places;
  max-width: 984px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 92px;
  padding-bottom: 44px;
}

@media screen and (max-width: 1276px) {
  .places {
    max-width: 928px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 860px) {
  .places{
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
    padding-bottom: 42px;
  }
}

@media screen and (max-width: 720px) {
  .places {
    padding-top: 64px;
    padding-bottom: 66px;
    justify-content: center;
  }
}
