.places {
  margin: 0;
  box-sizing: border-box;
  grid-area: places;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 92px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding-left: 0;
    padding-right: 0;
  }
}
