.place__image {
  margin: 0;
  width: 100%;
  grid-column: 1/2;
  grid-row: 2/3;
  object-fit: cover;
}

@media all and (max-width: 720px) {
  .place__image {
    grid-column: 1/2;
    grid-row: 3/4;
    padding-top: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
