.lead {
  margin: 0;
  grid-area: lead;
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  display: grid;
  justify-content: center;
  align-content: start;
  grid-template-rows: repeat(4, fit-content(984px));
  grid-template-columns: 100px fit-content(984px) 100px;
  grid-template-areas:
  ". title ."
  " . subtitle ."
  " . image ."
  " . caption .";
}

@media screen and (max-width: 1024px) {
  .lead{
    grid-template-columns: fit-content(928px);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    grid-template-columns: fit-content(768px);
    grid-template-rows: repeat(4, fit-content(768px));
  }
}

@media all and (max-width: 320px) {
  .lead {
    grid-template-columns: fit-content(320px);
    grid-template-rows: repeat(4, fit-content(320px));
  }
}
