.cover__subtitle {
  margin: 0;
  grid-row: 2/3;
  grid-column: 2/3;
  max-width: 360px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 32px;
  justify-self: center;
  z-index: 2;
  align-self: start;
}
 @media all and (max-width:600px) {
   .cover__subtitle {
     font-size: 14px;
     line-height: 16px;
     max-width: 288px;
     padding-top: 16px;
   }
 }

 @media all and (max-width: 320px) {
  .cover__subtitle {
    grid-column: 2/3;
  }
}
