.header__logo {
  margin: 0;
  align-self: end;
  justify-self: start;
  width: 176px;
  height: 52px;
  color: #fff;
}

@media all and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
