.header {
  margin: 0 auto;
  max-width: 1184px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(min-content, max-content) 1fr min-content;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    padding: 0 24px 0;
  }
}

@media all and (max-width: 320px) {
  .header {
    max-width: 320px;
    padding: 0 16px 0;
  }
}
