.content {
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr fit-content(1280px) 1fr;
  grid-template-rows: repeat(5, fit-content(1280px));
  grid-template-areas:
  ". lead ."
  ". intro ."
  "photo-grid photo-grid photo-grid"
  ". places ."
  ". cover .";
}

@media all and (max-width: 320px) {
  .content {
    grid-template-columns: fit-content(320px);
    grid-template-rows: repeat(5, fit-content(320px));
  }
}
