.content {
  margin: 0 auto;
  max-width: 1184px;
  box-sizing: border-box;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 100px fit-content(984px) 100px;
  grid-template-rows: repeat(5, fit-content(984px));
  grid-template-areas:
  ". lead ."
  ". intro ."
  "photo-grid photo-grid photo-grid"
  ". places ."
  "covert covert covert";
}

@media screen and (max-width: 1230px) {
  .content {
    grid-template-columns: fit-content(928px);
    grid-template-rows: repeat(5, fit-content(928px));
  }
}

@media screen and (max-width: 860px) {
  .content {
    grid-template-areas:
    ". lead ."
    "intro intro intro"
    "photo-grid photo-grid photo-grid"
    "places places places"
    "covert covert covert";
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-areas:
    ". lead ."
    ". intro ."
    "photo-grid photo-grid photo-grid"
    ". places ."
    "covert covert covert";
  }
}
@media all and (max-width: 320px) {
  .content {
    grid-template-columns: fit-content(320px);
    grid-template-rows: repeat(5, fit-content(320px));
  }
}

