.content {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  grid-template-areas:
  ". lead ."
  ". intro ."
  "photo-grid photo-grid photo-grid"
  ". places ."
  ". cover .";
}
