.lead__image {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  grid-area: image;
  justify-self: center;
  object-fit: cover;
}



@media all and (max-width: 320px) {
  .lead__image {
    padding-right: 2px;
  }
}
