.intro {
  margin: 0;
  grid-area: intro;
  max-width: 690px;
  padding-top: 92px;
  padding-bottom: 92px;
  padding-left: 100px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 0px;
  }
}
