.intro {
  margin: 0;
  grid-area: intro;
  max-width: 690px;
  padding-top: 92px;
  padding-bottom: 92px;
  padding-left: 100px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

@media all and (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
