.root {
  background: #2A2C2F;
  margin: 0;
  padding: 28px 48px 24px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 1230px) {
  .root {
    padding: 28px 0 24px;
  }
}


@media all and (max-width: 680px) {
  .root {
    padding: 16px 0 24px;
  }
}
