.cover {
  margin: 0;
  grid-area: cover;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: repeat(2,minmax(min-content, max-content)) 1fr 1fr;
  padding-bottom: 92px;
}
