.cover {
  margin: 0;
  max-width: 1184px;
  box-sizing: border-box;
  grid-area: covert;
  display: grid;
  grid-template-columns: fit-content(1184px);
  grid-template-rows: 1fr 1fr;
  padding-bottom: 92px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1230px) {
  .cover {
    grid-template-columns: fit-content(1024px);
  }
}

@media screen and (max-width: 768px) {
  .cover {
    grid-template-columns: fit-content(768px);
  }
}

@media screen and (max-width: 320px) {
  .cover{
    grid-template-columns: fit-content(320px);
    padding-bottom: 64px;
  }
}
