.place__link {
  margin: 0;
  max-width: 456px;
  max-height: 22px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFF;
}
