.cover__overlay {
  margin: 0;
  width: 100%;
  background: #2A2C2F;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  text-decoration: none;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/3;
}

