.lead__caption {
  margin: 0;
  max-width: 158px;
  align-self: start;
  justify-self: end;
  text-transform: uppercase;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-align: right;
  grid-area: caption;
  justify-self: start;
  white-space: nowrap;
  text-align: right;
}

