.cover__title {
margin: 0;
max-width: 560px;
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
text-align: center;
color: #FFFFFF;
grid-row: 1/2;
grid-column: 1/2;
justify-self: center;
align-self: center;
z-index: 2;
align-self: end;
}

@media all and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
